* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 1rem;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background-color: cadetblue;
}

main section p {
  padding: 1rem;
}

main section h2 {
  padding: 1rem;
  text-align: right;
}

/*====HEADER====*/
header {
  display: flex;
  flex-direction: column;
  background-color: #79dfc1;
  border: 1px solid black;
}
header .titulo {
  text-align: center;
}
header .titulo__principal {
  font-family: "Roboto", sans-serif, arial;
  font-size: 3rem;
}
header .titulo__principal .titulo__secundario {
  font-family: "Assistant", sans-serif, arial;
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  header .tiulo__principal {
    text-align: center;
  }
  header .tiulo__principal .titulo__secundario {
    background-color: #79dfc1;
    border-top: none;
    text-align: center;
  }
}

/* ====CARROUSEL====*/
.novedades {
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  font-size: 1, 5rem;
}

.carrousel {
  padding: 0.5rem;
}
@media (min-width: 1200px) {
  .carrousel .carousel-item {
    height: 600px;
  }
  .carrousel .carousel-item img {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}

/*====FOOTER====*/
footer {
  background-color: #79dfc1;
  text-align: center;
  height: 10vh;
  margin: 0;
  padding: 0;
}
footer h3 {
  margin: 0;
  padding: 0;
}
footer a:hover {
  color: #45a049;
}

/*====MAIN====*/
main section {
  display: flex;
}
main section .bajada {
  font-family: "slabo", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
@media (max-width: 768px) {
  main .bajada {
    display: none;
  }
  main .bajada__secundaria {
    display: none;
  }
}

/*===SECCIONES===*/
.subtitulo {
  text-align: center;
  padding: 1rem;
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.link .link__principal {
  background-image: url(../img/vegetables-1584999_1280.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 20px;
}
.link .link__sec1 {
  background-image: url(../img/spinach-3708115_1280.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.link .link__sec2 {
  background-image: url(../img/web-3120321_1280.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.link .link__sec3 {
  background-image: url(../img/engin-akyurt-Y5n8mCpvlZU-unsplash.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
}
.link .texto {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
  }
  .link .link__principal {
    grid-column: span 3;
    grid-row: span 2;
    width: 100%;
    height: 100%;
  }
  .link .link__sec1, .link .link__sec2, .link .link__sec3 {
    width: 100%;
    height: 20vh;
  }
}
@media (min-width: 1200px) {
  .link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vw 25vw;
  }
  .link .link__principal {
    grid-column: span 1;
    grid-row: span 1;
  }
  .link .link__sec1, .link .link__sec2, .link .link__sec3 {
    width: 100%;
    height: 100%;
  }
}

/*===POR QUE CONSUMIR ORGANICO===*/
.cierre {
  font-family: "slabo", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.receta {
  font-family: "slabo", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/*===DISPONIBLES===*/
.productos {
  display: flex;
  justify-content: center;
}
.productos .tarjeta {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  width: 9rem;
  margin: 1rem;
}
.productos .tarjeta img {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  object-fit: cover;
}
.productos .tarjeta .tarjeta__item {
  text-align: center;
  padding: 0.2rem;
}
.productos .tarjeta .tarjeta__precio {
  text-align: center;
  padding: 0.2rem;
}
.productos .tarjeta .tarjeta__btn {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.4px;
  box-shadow: 0px 2px 4px grey;
  cursor: pointer;
}
.productos .tarjeta .tarjeta__btn:hover {
  background-color: #45a049;
}
@media (min-width: 768px) {
  .productos .productos {
    display: flex;
  }
  .productos .tarjeta {
    flex: 1;
  }
  .productos img {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .productos .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
  }
}

.recetasec {
  display: grid;
}
.recetasec .recetasec__titulo {
  text-align: center;
  font-family: "Assistant", sans-serif, arial;
}
.recetasec .recetasec__titulo .recetasec__texto {
  text-align: center;
  font-family: "slabo", Arial, Helvetica, sans-serif;
}
.recetasec .recetasec__tituloter {
  text-align: center;
  font-family: "slabo", Arial, Helvetica, sans-serif;
  margin: 12px;
}
.recetasec .recetasec__img {
  padding: 5px;
  object-fit: cover;
  width: 100%;
  height: 20%;
}
.recetasec .recetasec__historia {
  text-align: center;
  font-family: "slabo", Arial, Helvetica, sans-serif;
}
.recetasec .recetasec__ingredientes {
  text-align: center;
  font-family: "slabo", Arial, Helvetica, sans-serif;
}
.recetasec .recetasec__pasos {
  text-align: center;
  font-family: "slabo", Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
