* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}


ul {
    list-style: none;
    padding: 1rem;
}

img {
    max-width: 100%;
}


/*=====BARRA DE NAVEGACIÒN====*/

/*nav ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}


@media (max-width: 768px){
    nav {
        display: none;
    }
}
*/


/*====HEADER====*/

header {
    display: flex;
    flex-direction: column;
    background-color: #79dfc1;
    border: 1px solid black;
}

.titulo {
    text-align: center;
}

.titulo-secundario {
    background-color: white;
    font-size: 12px;
}

@media (min-width: 1200px) {
    .titulo-secundario {
        background-color: #79dfc1;
        border-top: none;
        text-align: center;
    }

    .tiulo-principal {
        text-align: center;
    }
}

/*====MAIN====*/

main section {
    display: flex;
}

@media (max-width: 768px){
    .bajada {
        display: none;
    }
    .bajada-secundaria {
        display: none;
    }
    
}

/* ====SECCIONES====*/

/*.carrousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

.style {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
}
*/


.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1px;
    width: 100%;
    height: 100%;   
}


.img-principal {
    background-image: url(../img/vegetables-1584999_1280.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-sec1 {
    background-image: url(../img/spinach-3708115_1280.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-sec2 {
    background-image: url(../img/web-3120321_1280.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.img-sec3 {
    background-image: url(../img/engin-akyurt-Y5n8mCpvlZU-unsplash.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-repeat: no-repeat;
}

.texto {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

@media (min-width: 768px){
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: 100%;
    }
}

.img-principal {
    grid-column: span 3;
    grid-row: span 2;
}

.img-sec1, .img-sec2, .img-sec3 {
    width: 100%;
    height: 20vh;
}

/*.carrousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

.style {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
}
*/


@media (min-width: 1200px) {
    .container   {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }

    .img-principal {
        grid-column: span 1;
        grid-row: span 1;
    }
    
}


/*====MAIN====*/

main section p {
    padding: 1rem;
}


main section h2 {
    padding: 1rem;
    text-align: right;
}

.flex-container {
    display: flex;
    text-align: center;
    flex-direction: row;
    border: solid black;
    padding: 5px;
    margin: 10px;
}

img h2 a {
    color: white;
}



/*====FOOTER====*/


footer {
    background-color: aquamarine;
    text-align: center;
    height: 10vh;
}