$bkg-color: cadetblue;
$bkg-colorsec: #79dfc1;
$hvr_color: #45a049;
$btn_color: #4CAF50;
$ff-principal: "Roboto", sans-serif, arial;
$ff-sec: "Assistant", sans-serif, arial;
$ff-ter: "slabo", Arial, Helvetica, sans-serif;
$MQ-tablet: 768px;
$MQ-desktop: 1200px;


@mixin flexbox ($justify:center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin background {
    display: flex;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 20px;
}


@mixin transition {
    transform: scale(1.1);
    transition-duration: 1s;
}

* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}



ul {
    list-style: none;
    padding: 1rem;
}


li {
    list-style: none;
}

img {
    max-width: 100%;
}


body {
    background-color: $bkg-color;
}

main section p {
    padding: 1rem;
}


main section h2 {
    padding: 1rem;
    text-align: right;
}