/*===DISPONIBLES===*/


.productos {
    @include flexbox;

    .tarjeta {
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
        width: 9rem;
        margin: 1rem;

    img {
        width: 100%;
        height: 15rem;
        border-radius: 5px;
        object-fit: cover;
        }

    .tarjeta__item {
        text-align: center;
        padding: 0.2rem;
        }

    .tarjeta__precio {
        text-align: center;
        padding: 0.2rem;
        }

    .tarjeta__btn {
        display: block;
        width: 100%;
        padding: 0.7rem;
        margin: 0.5rem;
        background-color: $btn_color;
        color: white;
        border: none;
        border-radius: 0.4px;
        box-shadow: 0px 2px 4px grey;
        cursor: pointer;
        }

    .tarjeta__btn:hover {
        background-color: $hvr_color;
        }
    }

    @media (min-width: $MQ-tablet){


    
        .productos {
            @include flexbox;
            }
        
            .tarjeta {
                flex: 1;
            }
    
                img {
                    width: 100%;
                    height: 10rem;
                    border-radius: 5px;
                    object-fit: cover;
                }
        
        }


       
}

@media (min-width: 1200px){
    
    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-content: center;
    

    .productos {
        @include flexbox;
    }

}
  
}




